.EduField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 5px;
}

.educonfirm {
    width: 8rem;
    border-radius: 13px;
    justify-self: center;
    padding: 5px;
    background-color: #64748b;
    color:#f8fafc;
    border: none;
    box-shadow: 2px 2px 5px black;
    grid-column: 1/-1;
}

.educonfirm:hover {
    background-color: #1e293b;
}

.educonfirm:active {
    background-color: #94a3b8;
    transform: translate(0%, 10%);
    
}

.eduForm {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
}

.eduLabel {
    justify-self: center;
    padding: .5rem;
    font-weight: 600;
    width: 2rem,;
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 3;
}

.eduInput {
    box-sizing: border-box;
    border-radius: 13px;
    padding: 5px;
    border: 2px solid #cbd5e1;
    padding-left: 10px;
    box-shadow: 2px 1px 3px;
    width: 8rem;
    height: 2rem;
    justify-self: center;
}

.eduAward {
    box-sizing: border-box;
    border-radius: 13px;
    padding: 5px;
    border: 2px solid #cbd5e1;
    padding-left: 10px;
    box-shadow: 2px 1px 3px;
    width: 30rem;
    height: 8rem;
    grid-column: 1/-1;
    justify-self: center;
    resize: none;
}

.educationInfo {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 3fr 1fr;
}

.awardsText {
    grid-column: 1/-1;
}

.eduItem {
    justify-self: center;
    align-self: center;
    text-align: center;
}
