.App {
  text-align: center;
  margin:auto
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.CVcontainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  gap: .5rem;
  padding: 1rem;
  border: 1px solid black;
  box-shadow: 5px 5px 10px;
  height: auto;
  width: 550px;
}